{{extend 'layout.html'}}
<h3>Edit Complaint</h3>
<div class="panel-google-plus-textarea">
    <b>Title</b> </br>
	<textarea id="title" rows="1" >{{=(complaint.title)}}</textarea></br>
    <b>Description</b> </br>
    <textarea id="description" rows="4" >{{=(complaint.description)}}</textarea></br>
	<button type="submit" onclick="update_complaint();" class="[ btn]">Update Complaint</button>
    <button type="submit" onclick="delete_complaint();" class="[ btn]">Delete Complaint</button>
</div>
<script type="text/javascript">
    var complaint_id = {{=complaint.id}};
	function update_complaint(){
        $.ajax({
			url:"/first/complaint/update_complaint?complaint_id="+complaint_id+"&description="+$('#description').val()+"&title="+$('#title').val(),
			success:function(result){
                location.href="/first/default/spec_complaint/"+complaint_id;
			},
            error:function(){
				alert("fail");
			}
		});
	};
	function delete_complaint(){
		$.ajax({
			url:"/first/complaint/delete_complaint?complaint_id="+complaint_id,
			success: function(result){
				location.href="/first/default/home";
			},
            error:function(){
				alert("fail");
			}
		});
	};
</script>
