{{extend 'layout.html'}}
<h3>Edit Complaint</h3>
<div class="panel-google-plus-textarea">
    <b>Title</b> </br>
	<textarea id="title" rows="1" >{{=(complaint.title)}}</textarea></br>
    <b>Description</b> </br>
    <textarea id="description" rows="4" >{{=(complaint.description)}}</textarea></br>
	<button type="submit" onclick="update_complaint({{=(complaint.id)}});" class="[ btn]">Update Complaint</button>
    <button type="submit" onclick="delete_complaint({{=(complaint.id)}});" class="[ btn]">Delete Complaint</button>
</div>
<script>
	function update_complaint(comp_id){
        $.ajax({
			url:"/first/complaint/update_complaint?complaint_id="+comp_id+"&description="+$('#description').val()+"&title="+$('#title').val(),
			success: function(result){
                alert("func call");
			}
            error: function(){
				alert("fail");
			}
		});
	}
	function delete_complaint(comp_id){
        alert("delete call");
		$.ajax({
			url:"/first/complaint/delete_complaint?complaint_id="+comp_id,
			success: function(result){
				location.href='/first/default/home';
			}
		});
	}
</script>
