div {
    margin-left:30px;
}

.create_complaint {
    width:1000px;
}

#complaint_dept{
    margin:10px;
}

#admin_button{
    height:50px;
    padding:10px;
    width:100px;
    float:right;
}

.gen_button{
    height:30px;
    padding:10px;
    text-align:center;
}

#complaint_div {
    width:1000px;
    padding:10px;
    padding-bottom: 15px;
}

.updownvote{
    width:30px;
    height:30px;
    float:right;
    text-align:center;
}

#display_comp_level{
    margin-bottom:5px;
}

#display_dept{
    margin-right: 10px;
}

#upvote {
    padding:5px;
    margin-right:50px;
    background-color:rgb(153, 204, 255);
}

#vote_counter {
    padding:5px;
    margin-right:10px;
    background-color:rgb(153, 204, 255);
}

#downvote{
    padding:5px;
    margin-right:10px;
    background-color:rgb(153, 204, 255);
}
