{{extend 'layout.html'}}
{{#=form}}
{{def name_of(user_id):}}
    {{myquery = (db.users.username == user_id);}}
    {{myset = db(myquery);}}
    {{rows = myset.select();}}
    {{for row in rows:}}
        {{return (row.first_name + row.last_name);}}
{{pass}}
{{pass}}
<script>$('textarea').css('width','600px').css('height','50px');</script>
{{for complaint in complaints:}}
<div style="background: #f0f0f0; margin-bottom: 5px; padding: 8px;">
<h3>{{=name_of(complaint.user_id)}} on {{=complaint.created_at}}:</h3>
{{=MARKMIN(complaint.description)}}
</div>
{{pass}}
