{{extend 'layout.html'}}
<div class="table-responsive">
	{{if len(notifications)>0:}}
		<table class="table table-striped">
			<thead>
				<tr>
					<td>S.no.</td>
					<td>Notification</td>
					<td>Time</td>
				</tr>
			</thead>
			<tbody>
			{{for i,noti in enumerate(notifications):}}
				<tr style="{{='background:lightblue' if noti.is_seen==0 else ''}}">
					<td>{{=i+1}}</td>
					<td>{{=XML(noti.description)}}</td>
					<td>{{=noti.created_at}}</td>
				</tr>
			{{pass}}
			</tbody>
		</table>
	{{else:}}
		<h3>No Notifications Yet!</h3>
	{{pass}}
</div>
