{{extend 'layout.html'}}

<h1 style="margin-left:30px;margin-bottom:50px;">{{=(complaint.title)}}</h1>
<p style="margin-left:30px;"> {{=SPAN(XML(complaint.description))}} </p>
{{posted_by = complaint.user_id}}
{{if (auth.user.id==posted_by):}}<button style="float:right;margin-right:700px;height:40px;"><a href="{{=URL('first','complaint','edit_complaint', vars=dict(complaint_id=str(complaint.id)))}}">Edit</a></button>
{{else:}}
{{pass}}
</br>
</br>
<div class="table-responsive" style="width:600px;">
	<table class="table table-striped">
		<tbody>
            <tr><td>{{=B("Created At")}}</td><td>{{=complaint.created_at}}</td></tr>
            <tr><td>{{=B("Type")}}</td><td>{{=complaint.type_}}</td></tr>
            <tr><td>{{=B("Created By")}}</td><td>{{=complaint.user_id}}</td></tr>
            <tr><td>{{=B("No of Votes")}}</td><td>{{=complaint.no_of_votes}}</td></tr>
	    </tbody>
	</table>
</div>

<div class="panel-google-plus-textarea" style="width:600px;">
    <textarea id="comment_text" rows="4" style="width:600px;"></textarea> </br>
    <button type="submit" onclick="post_comment();" style="margin-right:200px;">Post comment</button>
</div>

<script type="text/javascript">
    var complaint_id ={{=complaint.id}};
    function edit_complaint(){
        location.href = "first/complaint/edit_complaint?/complaint_id="+complaint_id;
    }
        function post_comment(){
            $.ajax({
                url:"/first/default/post_comment.json?complaint_id="+complaint_id+"&description="+$('#comment_text').val(),
                success: function(result){
                     location.href=location.href;
                }
            });
        }
        function delete_comment(comment_id){
            $.ajax({
                url:"/first/default/delete_comment.json?comment_id="+comment_id,
                success: function(result){
                     location.href=location.href;
                }
            });
        }
</script>
<h4 style="margin-left:30px;"> Comments: </h4>
{{for comment in comments:}}
<div style="width:600px;background:#f0f0f0;margin-bottom: 5px;padding:10px;">
    {{comment_id = comment.id}}
    {{posted_user = comment.user_id}}
    {{userName = comment.user_name}}
    <div class="comment_side">
        <h4 style="width:450px;"> {{=(userName)}}</h4>
        <p style="width:450px;">{{=(comment.description)}} </p>
    </div>
    {{if (posted_user==auth.user.id):}}<div class="comment_side"><button type="submit" onclick="delete_comment({{=comment.id}})" style="width:70px; height:40px;float:right">Delete</button> </div>
    {{else:}}
    {{pass}}
    <div class="clearfix"></div>
</div>
{{pass}}
